@section Title {
 Employment - Portfolio
}

<h1>Employment History</h1>
<hr />
<div>
    <h3>IT Engineer Intern - WWE</h3>
    <p><strong>May 2024 – Present</strong></p>
    <ul>
        <li>Managed and troubleshot WWE's IT infrastructure, ensuring smooth operations across departments.</li>
        <li>Identified and mitigated network vulnerabilities to protect sensitive data and systems.</li>
        <li>Supported network upgrades to improve performance and security.</li>
    </ul>

    <h3>Utilities Crew - WWE</h3>
    <p><strong>May – Aug 2022 & 2023</strong></p>
    <ul>
        <li>Laid and connected fiber cables and power lines for seamless live feed transmission.</li>
        <li>Worked ringside during live shows under high-pressure conditions to ensure uninterrupted operations.</li>
    </ul>

    <h3>Construction Assistant - Tyrus-Kelly Construction Co.</h3>
    <p><strong>March 2023 – May 2024</strong></p>
    <ul>
        <li>Resolved issues during construction projects, demonstrating strong problem-solving skills.</li>
        <li>Collaborated with team members to achieve project goals.</li>
    </ul>

    <h3>Ranch Manager - Bankston Ranch</h3>
    <p><strong>May 2022 – Aug 2022</strong></p>
    <ul>
        <li>Managed $60,000 worth of livestock and oversaw accounting and inventory management.</li>
        <li>Operated heavy machinery efficiently and led a team of three crew members.</li>
    </ul>
</div>
