@section Title {
    About Me
}

<div class="container">
    <h1>About Me</h1>
    <hr />
    <p>
        I’m a highly motivated senior at the University of Oklahoma, pursuing a Bachelor of Business in Management Information Systems (MIS) from the Michael F. Price College of Business.
        With an expected graduation in May 2025 and a GPA of 3.41, I’ve built a solid foundation in business processes, data management, and information systems technology.
        My coursework includes Database Management, Programming with C#, SQL, Python, and Business Data Analysis, which have equipped me with the technical and analytical skills to tackle complex challenges.
    </p>

    <h2>Education</h2>
    <ul>
        <li><strong>University of Oklahoma, Norman, OK</strong></li>
        <li><strong>Degree:</strong> Bachelor of Business, Management Information Systems</li>
        <li><strong>Expected Graduation:</strong> May 2025</li>
        <li><strong>GPA:</strong> 3.41/4.00</li>
        <li><strong>Relevant Coursework:</strong> Database Management, Programming with C#, SQL, Python, and Business Data Analysis</li>
    </ul>

    <h2>Leadership & Volunteering</h2>
    <div>
        <h5>Co-Captain - OU Rugby Club</h5>
        <p>Led and motivated a team of 30+ players, coordinating training sessions and managing game-day strategies.</p>

        <h5>Co-Founder - OU Ski Club</h5>
        <li>Established and grew the club from 2 to 15+ members within three weeks. </li>
        <li>Organized events and trips to engage members and promote skiing.</li>
    </div>
</div>
