@section Title {
 Projects - Portfolio
}
<h1>My Projects</h1>
<hr />
<ul>
    <li>This is where my projects will go!!</li>
    <li>GitHub Repos: <a href="https://github.com/jharg-droid?tab=repositories">My GitHub Repositories</a></li>
</ul>
